{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<!-- Header  -->
<div id="home-space">
  <div class="page-header">
  <h1>Imprints <small>Leave your mark....</small></h1>
  </div>

<!-- login with background-->
<div class="jumbotron">
  <div class="section">
     <div class="row">
       <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Register Now!</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="well">
                          <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                              <a href="/profile/new" class="btn btn-success btn-block">Register</a>
                              <a href="/login/facebook" class=" btn btn-primary btn-block">Login with Facebook</a>
                        </form>
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
  </div>
</div>	

<!-- Place to render our random feed of places and comments	
 -->
 <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{image}}" alt="imprints" class= "placeimg">
      <div class="caption">
        <h3>{{name}}</h3>
        <p>{{post}}</p>
        <p><a href="places/{{id}}" class="btn btn-primary" role="button">Check It Out!</a> 
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{image3}}" alt="imprints" class= "placeimg">
      <div class="caption">
        <h3>{{name3}}</h3>
        <p>{{post3}}</p>
        <p><a href="places/{{id3}}" class="btn btn-primary" role="button">Check It Out!</a> 
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{image2}}" alt="imprints" class= "placeimg">
      <div class="caption">
        <h3>{{name2}}</h3>
        <p>{{post2}}</p>
        <p><a href="places/{{id2}}" class="btn btn-primary" role="button">Check It Out!</a>
      </div>
    </div>
  </div>
 </div>
</div>

{% endblock %}
