<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
     <link rel="stylesheet" href="/css/index.css">
     <link rel="stylesheet" href="/css/users.css">
     <link rel="stylesheet" href="/css/kyle.css">
  </head>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="row">
          <div class="collapse navbar-collapse center" id="bs-example-navbar-collapse-1">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <a class="nav" href="/">Home</a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
             <a class="nav" href="/profile">Visitors</a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
             <a class="nav" href="/places">Guestbooks</a>
            </div>
        </div>
      </div>
      </div>
    </div>
  </nav>
  <body>

  <div class="row">
    <div class="col-sm-12">
      {% if user %}
      <p class="login">Welcome {{ user.fname }}! | <a href="/login/logout">Logout</a></p>
      {% else %}
      <p class="login"><a href="/login/facebook">Login</a></p>
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
  </div>
    <hr>
<!-- footer -->
  <footer class="row">
    <div class="container-fluid">
      <div class="col-md-4">
        <h4 class="text-center">Imprints&copy;</h4>
      </div>
      <div class="col-md-4 center">
        <h4>Quick Links</h4>
        <p><a href="/">Home</a></p>
        <p><a href="profile/">Visitors</a></p>
        <p><a href="places/">Guest Books</a></p>
      </div>
      <div class="col-md-4 center">
        <h4>By Aaron, Andy, Kyle &amp; Robby</h4>
      </div>
  </footer>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/pin.js"></script>

  </body>
</html>
