.center{
  text-align: center;
}

.margin-top {
  margin-top: 3vh; 
}

.colour {
  background-color: blue;
  color: white;
}

.profile {
  border-radius: 50%;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map{
  height: 600px;
  width: 600px;
}
#map {
   margin: 0;
   padding: 0;
   height: 400px;
  width: 100%;
}
#map img {
   max-width: none !important;
}

.placeimg{
  height: 250px;
  width: 250px;
}
.singleplace{
  height: 300px;
  width: 300px;
}