body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav{
	font-size: 30px;
	text-decoration: none;
	color: white; 
}

footer {
  background-color: #F77F00;
}

.login{
  float: right;
  margin-right: 2%;
}




