body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.modal-title {
  text-align: center;
}

.bottom-button {
  margin-top: 15px;
}

.username {
  margin: 5px;
  padding: 5px;
}


/******  All User Columns  ******/

.row_even {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row_even > [class*='col-'] {
/*  display: flex;
  flex-direction: column;*/
  height: 150px;
  overflow: hidden;
}

/******  All Places Columns  ******/

.row_places {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;

}
.row_places > [class*='col-'] {
/*  display: flex;
  flex-direction: column;*/
  height: 350px;
  overflow: auto;
}

.space {
  margin: 10px;
}


/******User Images******/

.usr-img-small {
  height: 50px;
  width: 50px;
}

.usr-img-med {
  height: 150px;
  width: 150px;
}

.img-choice {
  height: 30px; 
  width: 30px;
  margin: 0px 40px 0px 0px;
}

.event-img-small {
  width: 200px;
  height: 200px;
}

.placeimg{
  height: 250px;
  width: 250px;
}

/******* User Page ************/
.user{
  width:80%;
}

.user-spacing {
  padding: 25px;
}

