body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.modal-title {
  text-align: center;
}

.bottom-button {
  margin-top: 15px;
}

.username {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/******User Images******/

.usr-img-small {
  height: 50px;
  width: 50px;
}

.usr-img-med {
  height: 150px;
  width: 150px;
}

.img-choice {
  height: 30px; 
  width: 30px;
  margin: 0px 40px 0px 0px;
}

