{% extends '../layout.html' %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>

     <div class="row row_even">
     {% for item in array %}
      <div class="col-sm-3 row_even">
        <div class ="username">
          <div class="media">
            <div class="media-left">
            <a href="/profile/{{item.u_id}}">
            <img class="media-object img-circle usr-img-small" src="{{item.u_img}}" alt="userimg"></a>
            </div>
            <div class="media-body">
              <h5 class="media-heading">
              <a href="/profile/{{item.u_id}}">{{ item.fname }} </a> </h5>
              <p>{{item.bio}}</p>
            </div>
          </div>
        </div>
      </div>
     {% endfor %}         

   </div>
  </div>

{% endblock %}
