{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

     <form action ="" method="post">
      <fieldset class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </fieldset>

      <fieldset class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username">
      </fieldset>
      
      <fieldset class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </fieldset>

      <fieldset class="form-group">
        <label for="exampleTextarea">About you</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </fieldset>

      <label for="avatars">Choose Your Avatar</label>
        <label class="avatars">
          <input type="radio" name="avatarOptions" id="avatar1" value="option1"> 1
        </label>
        <label class="radio-inline">
          <input type="radio" name="avatarOptions" id="avatar2" value="option2"> 2
        </label>
        <label class="radio-inline">
          <input type="radio" name="avatarOptions" id="avatar3" value="option3"> 3
        </label>
        <label class="radio-inline">
          <input type="radio" name="avatarOptions" id="avatar3" value="option3"> 3
        </label>
        <label class="radio-inline">
          <input type="radio" name="avatarOptions" id="avatar3" value="option3"> 3
        </label>
        <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

{% endblock %}
