<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
     <link rel="stylesheet" href="/css/index.css">
     <link rel="stylesheet" href="/css/users.css">
  </head>
    <nav class="navbar navbar-inverse">
      <div class="container">
      <div class="row">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="col-sm-3 col-md-3 col-lg-3">
         <a class="nav" href="/">Home</a>
          </div>
         <div class="col-sm-3 col-md-3 col-lg-3">
         <a class="nav" href="/places">Places</a>
         </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
         <a class="nav" href="/events">Events</a>
         </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
         <a class="nav" href="/profile">People</a>
        </div>
        </div>
        </div>
        </div>
    </div>
  </nav>
  <body>

{% block title %}{% endblock %}


{% block content %}


 <div class="jumbotron">
  <div class="section">
   <div class="row">
    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="register_label">Register Now!</h4>
        </div>
          <div class="row">
            <div class="col-xs-12">
                <div class="well">
                 <form action ="" method="post">
                    <fieldset class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" name="email">
                    </fieldset>

                    <fieldset class="form-group">
                      <label for="username">User Name</label>
                      <input type="text" class="form-control" id="username" name="username">
                    </fieldset>
                    
                    <fieldset class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </fieldset>

                    <fieldset class="form-group">
                      <label for="about">About you</label>
                      <textarea class="form-control" id="about" rows="3" name="about"></textarea>
                    </fieldset>

                    <label for="avatars">Choose Your Avatar</label>
                      <label class="avatars">
                        <input type="radio" name="avatarOptions" id="avatar1" value="1"> <img src ="/userimg/1.png" class="img-choice">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="avatarOptions" id="avatar2" value="2"> <img src ="/userimg/2.png" class="img-choice">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="avatarOptions" id="avatar3" value="3"> <img src ="/userimg/3.png" class="img-choice">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="avatarOptions" id="avatar3" value="4"> <img src ="/userimg/4.png" class="img-choice">
                      </label>

                      <fieldset class="bottom-button"> 
                        <div class="col-sm-12 text-center"> 
                          <button type="submit" class="btn btn-primary user-submit">Submit</button>
                        </div>
                      </fieldset>
                  </form>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </div>
</div>  

{% endblock %}
