{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}


  <div class="media">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object img-circle " src="{{results[0].u_img}}" alt="userimg">
      </a>
    </div>
    <div class="media-body">
      <h3 class="media-heading">{{results[0].fname}} {{results[0].lname}}</h3>
        <h4>Count | Title</h4>
        <small> Last Imprinted <time>{{results[0].createdat}}</time></small>
        <hr>
        <p>{{results[0].bio}}</p>
        {% if user.u_id == id %}
        <button class="btn btn-success">Edit</button>
        <button class="btn btn-danger">Delete</button>
        {% endif %}
    </div>
  </div>

  <h2>Imprints</h2>
item id = {{item.e_id}}

{% if !item.e_id %}
<h1>No Imprints Yet</h1>
{% endif %}
    
    {% for item in results %}
      <div class="col-sm-4 row-eq-height">
        <div class ="username">
          <div class="media">
            <div class="media">
            <a href="/places/{{item.e_id}}">
            <img class="event-img-small" src="{{item.e_img}}" alt="userimg"></a>
            </div>
            <br />
            <div class="media-body">
              <h5 class="media-heading">
              <a href="/places/{{item.e_id}}">
              {{ item.e_name }}</a></h5>
              <h6>Imprint</h6>
              <p>{{ item.created_at }}
              <br>
              {{item.post}}</p>
            </div>
          </div>
        </div>
      </div>
     {% endfor %}  



  
  


   


{% endblock %}
