{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}


  <div class="media">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object img-circle" src="http://placehold.it/150x150" alt="time">
      </a>
    </div>
    <div class="media-body">
      <h3 class="media-heading">John Doe</h3>
        <h4>Count | Title</h4>
        <small> Last Imprinted <time>Sunday, October 05, 2014</time></small>
        <hr>
        <p>I'm trying not to, kid. You mean it controls your actions? Leave that to me. Send a distress signal, and inform the Senate that all on board were killed. I don't know what you're talking about. I am a member of the Imperial Senate on a diplomatic mission to Alderaan</p>
    </div>
  </div>

  <h2>Imprints</h2>

   


{% endblock %}
