<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/kyle.css">
  </head>
    <nav class="navbar navbar-inverse">
      <div class="container">
      <div class="row">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="col-sm-3 col-md-3 col-lg-3">
         <a class="nav" href="/">Home</a>
          </div>
         <div class="col-sm-3 col-md-3 col-lg-3">
         <a class="nav" href="/places">Places</a>
         </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
         <a class="nav" href="/events">Events</a>
         </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
         <a class="nav" href="/profile">People</a>
        </div>
        </div>
        </div>
        </div>
    </div>
  </nav>
  <body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ title }}
        <a class="btn btn-success" href="/places/create">Create Guestbook</a>
   <!--      {% if user %}
        <a class="btn btn-success" href="/places/create">Create Guestbook</a>
        {% else %}
        <a class="btn btn-success" href="/login/facebook">Create Guestbook</a>
        {% endif %} -->
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="map" id="map"></div>
      </div>
    </div>

    <div class="row margin-top">
      {% for item in array %}
      <div class="col-md-4 panel panel-default {{ item.e_type }}">
        <h4>{{ item.e_name }}</h4>
        <div class="center">
          <img class="placeimg" src="{{ item.e_img }}">    
        </div>
        <p>{{ item.desc }}</p>
        <a href="/places/{{ item.e_id }}">Link to {{ item.e_name }}</a>
      </div>
      {% endfor %}
    </div>


  </div>




    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="/js/pin.js"></script>
  </body>
</html>