{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ title }}
        <a class="btn btn-success" href="/places/create">Create Guestbook</a>
        <button class="allbtn btn btn-primary pull-right">All Places</button>
   <!--      {% if user %}
        <a class="btn btn-success" href="/places/create">Create Guestbook</a>
        {% else %}
        <a class="btn btn-success" href="/login/facebook">Create Guestbook</a>
        {% endif %} -->
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="map" id="map"></div>
      </div>
    </div>

    <div class="row center margin-top">
      <div class="col-md-2">
        <button class="artbtn btn btn-primary">Art</button>
      </div>
      <div class="col-md-2">
        <button class="eventbtn btn btn-primary">Event</button>
      </div>
      <div class="col-md-2">
        <button class="foodbtn btn btn-primary">Food/Drink</button>
      </div>
      <div class="col-md-2">
        <button class="naturebtn btn btn-primary">Nature</button>
      </div>
      <div class="col-md-2">
        <button class="sportsbtn btn btn-primary">Sports</button>
      </div>
      <div class="col-md-2">
        <button class="otherbtn btn btn-primary">Other</button>
      </div>
    </div>

    <div class="row margin-top row_places">
      {% for item in array %}
      <div class="col-md-4 panel panel-default {{ item.e_type }}">
       <div class="space">
        <h4><a href="/places/{{ item.e_id }}">{{ item.e_name }}</a></h4>
        <div class="center">
          <a href="/places/{{ item.e_id }}"> <img class="placeimg" src="{{ item.e_img }}"> </a>  
        </div>
        <p>{{ item.desc }}</p>
       </div>
      </div>
      {% endfor %}
    </div>

  </div>

{% endblock %}