<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
     <link rel="stylesheet" href="/css/index.css">
     <link rel="stylesheet" href="/css/users.css">
     <link rel="stylesheet" href="/css/kyle.css">
  </head>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="row">
          <div class="collapse navbar-collapse center" id="bs-example-navbar-collapse-1">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <a class="nav" href="/"><i class="fa fa-home"></i> Home</a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
             <a class="nav" href="/profile"><i class="fa fa-compass"></i> Visitors</a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
             <a class="nav" href="/places"><i class="fa fa-book"></i> Guestbooks</a>
            </div>
        </div>
      </div>
      </div>
    </div>
  </nav>
  <body>

  <div class="row">
    <div class="col-sm-12">
      {% if user %}
      <p class="login">Welcome {{ user.fname }}! | <a href="/login/logout">Logout</a></p>
      {% else %}
      <p class="login"><a href="/login/facebook">Login</a></p>
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
  </div>
    <hr>

<div class="jumbotron">
  <div class="section">
   <div class="row">
    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="register_label">Add a Guestbook</h4>
        </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="well">
                <form method="POST" action="/places/create">
                  <fieldset class="form-group">
                    <label for="name">Name</label>
                    <input name="e_name" type="text" class="form-control" id="name" placeholder="Name of Guestbook" required >
                  </fieldset>
                 <fieldset class="form-group">
                    <label for="address">Address (include city and state)</label>
                    <input name="address" type="text" class="form-control" id="address" placeholder="example 111 S High St, Denver, CO" required>
                  </fieldset>
                                  
                    <input name="e_latitude" type="hidden" class="form-control" id="latitude" placeholder="Latitude" value = "">

                    <input name="e_longitude" type="hidden" class="form-control" id="longitude" placeholder="Longitude">

                  <fieldset class="form-group">
                    <label for="type">Type of Guestbook:</label>
                    <select name="et_id" class="form-control" id="type" required>
                      <option value="1">Art</option>
                      <option value="2">Event</option>
                      <option value="3">Food/Drink</option>
                      <option value="4">Nature</option>
                      <option value="5">Sports</option>
                      <option value="6">Other</option>
                    </select>
                  </fieldset>

                  <fieldset class="form-group">
                    <label for="e_img">Image Url</label>
                    <input name="e_img" <input type="url" class="form-control" id="e_img" placeholder ="add an image url (find an image online and copy and paste the location here" required >
                  </fieldset>

                  <fieldset class="form-group">
                    <label for="description">Description of Guestbook:</label>
                    <textarea name="desc" class="form-control" id="description" rows="5" required></textarea>
                  </fieldset>
                  <input type="hidden" value="{{ usrid }}" name="userid">
                  <input type="hidden" value="{{ usrtype }}" name="usertype">
 
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <footer class="row">
    <div class="container-fluid">
      <div class="col-md-4">
        <h4 class="text-center">Imprints&copy;</h4>
      </div>
      <div class="col-md-4 center">
        <h4>Quick Links</h4>
        <p><a href="/">Home</a></p>
        <p><a href="profile/">Visitors</a></p>
        <p><a href="places/">Guest Books</a></p>
      </div>
      <div class="col-md-4 center">
        <h4>By Aaron, Andy, Kyle &amp; Robby</h4>
      </div>
  </footer>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api }}&callback=makeCoords"></script>
    <script type="text/javascript" src="/js/geocoding.js"></script>

  </body>
</html>