{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}



  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="center">{{ array[0].e_name }}</h1>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-4">
        <img class="singleplace" src="{{ array[0].e_img}}">
      </div>
      <div class="col-sm-8">
        <h3 class="center">About {{ array[0].e_name }}</h3>
        <h4 class="center">{{ array[0].e_type }}</h4>
        <p>{{ array[0].desc }}</p>
      {% if user %}
        <form class="margin-top" method="post" id="imprintBox">
          <div class="form-group">
            <label for="post">Imprint: </label>
            <textarea class="form-control" rows="5" cols="60" name="post" id="post" placeholder="Hello"></textarea>
            <input type ="hidden" value ="" name="created_at" id="created_at">
            <input type ="hidden" value ="{{user.u_id}}" name="u_id" id="u_id">
            <input type="hidden" value="{{ id }}" name="e_id" id="e_id">
            <br>
            <button type="submit" class="btn btn-success">Add Your Imprint</button>
          </div>
        </form>
    {% endif %}
    {% if !user %}
     <div class="btn-group">

        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login To Leave an Imprint! <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/login/facebook">Login With Facebook</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
        
      </div><br><br>
    <!-- <p><a href="/login/facebook" class="btn btn-info" role="button">Login To Leave an Imprint!</a> -->
    {% endif %}
        <div id="out_of_location">
        </div>
      </div>
    </div>


    <div class="row">
    {% for item in array %}
      <div class="col-sm-3" id="personal">
      <div class="card">
       <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
         <div class="avatar">
          <img src="{{ item.u_img }}" class="profile">
         </div>   
         <div class="content">
        <h5>{{ item.fname }}</h5>
        <p>{{ item.post }}</p>
      
      </div>
      </div>
      </div>
    {% endfor %}
    </div>
</div>

{% endblock %}

 

