{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}

   {% if user %}
  <p>Welcome {{ user.fname }}! | <a href="/login/logout">Logout</a></p>
  {% else %}
  <p><a href="/login/facebook">Login</a></p>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="center">{{ array[0].e_name }}</h1>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-4">
        <img class="singleplace" src="{{ array[0].e_img}}">
      </div>
      <div class="col-sm-8">
        <h3 class="center">About {{ array[0].e_name }}</h3>
        <h4 class="center">{{ array[0].e_type }}</h4>
        <p>{{ array[0].desc }}</p>
        <p>{{ array[0].e_latitude }}</p>
        <p>{{ array[0].e_longitude }}</p>
        <p id="proximity"></p>
        <button onclick="getLocation()">Try It</button>
        <p id="demo"></p>

      </div>
    </div>

<!-- begin conflict
    {% if user %}
    <form class="margin-top">
    <div class="form-group">
      <label for="">Imprint: </label>
      <textarea class="form-control" rows="5" cols="60" name="imprint" placeholder="Hello"></textarea>
      <button type="button" class="btn btn-default">Imprint</button>
    </div>
    </form>
    {% else %}
    <br>
    <a class="btn btn-success" href="#">Add your imprint</a>
    {% endif %}
    end conflict -->

    
    <!-- <form id="imprintBox" class="margin-top">
      <div class="form-group">
        <label for="">Imprint: </label>
        <textarea class="form-control" rows="5" cols="60" name="imprint" placeholder="Hello"></textarea>
        <button type="button" class="btn btn-default">Imprint</button>
      </div> -->
    </form>
        <form class="margin-top" method="post" id="imprintBox">
          <div class="form-group">
            <label for="post">Imprint: </label>
            <textarea class="form-control" rows="5" cols="60" name="post" id="post" placeholder="Hello"></textarea>
            <input type ="text" value ="" name="created_at" id="created_at">
            <input type ="text" value ="1" name="u_id" id="u_id">
            <input type="text" value="{{ id }}" name="e_id" id="e_id">
            <button type="submit" class="btn btn-default">Imprint</button>
          </div>
        </form>

    <div class="row">
    {% for item in array %}
      <div class="col-sm-9">
        <h5>{{ item.fname }}</h5>
        <p>{{ item.post }}</p>
      </div>
      <div class="col-sm-3 center">
        <img src="{{ item.u_img }}" class="profile">
      </div>
    {% endfor %}
    </div>
</div>

{% endblock %}